
@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: visible;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: visible;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.sld-Left {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}
.sld-Right {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

.main-slider, .slider{
  -moz-animation-duration: 0.6s;
  -moz-animation-delay: 0.3s;
  animation-timing-function: ease-out;

}
.slider {
  transition: transform .2s;

}
/* CSS declarations go here */
body{
  color : #575f68 !important;
}
nav{
  cursor: pointer;
}
table{
  border-collapse: separate;
}
td,th {
    padding: 5px;
    /*text-align: center;*/
}

tr:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

h3,h4,h5{
  color: #ef2472;
border-bottom: 1px solid;
background-color: whitesmoke;
padding: 10px;
margin-bottom: 0px;
}
header {
    margin-bottom: 80px;
    padding: 5px 0;
}
header a{
  color: crimson !important;
}
.fullscreen{
  position: fixed;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.mb-40{
  margin-bottom: 40px;
}
#dashboard-interface label{
  margin-top: 20px;
  margin-bottom: 20px;
}
.total-agents{
  font-size: 5em;
}
.critical{
  background: #ff4545;
}
.risky{
  background: #ffbd29;
}
.safe{
  background: #1eda69;
}
.unknown{
  background: #a4a4a4;
}
.safe,.risky,.critical,.unknown{
  border-radius: 3px;
  color: white;
  padding: 5px;
  text-align: center;
}
.main-slider{
  width: 200%;
  height: 500px;
}
.slider-hidden{
  display: none ;
}
.slider{
  width: 50%;
  height: 470px;
  /*display: inline-block;*/
  vertical-align: top;
}
.ov-h{
  overflow: hidden;
}
.ov-x-h{
  overflow-x: hidden;
}
.ov-y-a{
  overflow-y: auto;
}
.integritySection{
  height: 350px;
}
.padding-0{
  padding: 0px !important;
}
.machine-menu{
  /*border-left:2px solid;*/
  background-color: whitesmoke;
  list-style: none;
}
 .machine-menu li {
   padding: 7px;
   cursor: pointer;
 }
.machine-content{
    padding-top: 40px;
}
.pointer{
  cursor: pointer;
}
label{
  font-weight: bold;
}
.search {
    /* border: 1px solid;
    background-color: white; */
    position: absolute;
    right: 0px;
    top: 0px;
    height: 45px;
    border-radius: 3px;
    padding: 10px;
}
.simple-search{
  /*position: absolute;
  right: 90px;*/
  top: -10px;
  line-height: 40px;
  border-top: 2px solid #ef2472;
}
.search-field{
  border:none;
}
.page {
    color: #ef2472;
    padding: 5px;
    cursor: pointer;
}
.switch-light.switch-material  {
  cursor: pointer;
}
.switch-light.switch-material strong {
  color: #b4999e ;
}
.switch-light.switch-material a {
  /*top:0 !important;*/
  color: crimson !important;
  outline: 0 !important;
  top: -0.21875em;
  width: 1.35em;
  height: 1.35em;
}
.switch-material.switch-light input:checked ~ span a{
  background: #f8335a !important;
}
.switch-material.switch-light > span {
    top: 0.5em !important;
    width: 2.6em !important;
    height: 1.0em !important;
}
.tag {
    padding: 10px;
    border-left: 3px solid #439bff;
    border-right: 3px solid #439bff;
    cursor: pointer;
    border-radius: 20%;
    background-color: #f9f9f9;
}
.tag.selected {
  border-left: 3px solid #ff4385;
  border-right: 3px solid #ff4385;
  background-color: #e1f2f5;
  padding: 15px;
}
.tag-info{
  background-color: whitesmoke;
  padding: 15px;
}
.tag-search{
  height: 90px;
}
ul{
  list-style: none;
  height: 400px;
  overflow-y: auto;
}
ul li {
  margin: 25px;
}
.btn{
  cursor: pointer;
  -webkit-appearance: none !important;
}
.loginContainer{
  margin-top: 7rem !important;
  border-bottom: 3px solid #f32962;
  padding-bottom: 70px;
}
.loginFields{
  margin-top: 5rem !important;
  color: #aa5a6f;
}
.loginButton{
  border: 1px solid #bd8b98;
  color: #aa5a6f;
  padding: 20px 70px;
}
